<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Vehicle Details</h4>
                        <p class="category">Vestibulum in luctus tortor, eu posuere metus.</p>
                    </div>
                    <div class="content">
                        <form name="vehicleForm" #vehicleForm="ngForm">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Make</label>
                                        <select class="form-control"
                                                [(ngModel)]="vehicle.makeId"
                                                name="makeId"
                                                disabled>
                                            <option *ngFor="let m of makesList" value="{{ m.id }}">{{ m.name }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Model</label>
                                        <select class="form-control"
                                                [(ngModel)]="vehicle.modelId"
                                                name="modelId"
                                                disabled>
                                            <option *ngFor="let m of modelsList" value="{{ m.id }}">{{ m.name }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-xs-6" style="padding-left:0px;">
                                        <label>Contact Name</label>
                                        <input type="text"
                                               class="form-control"
                                               name="contactName"
                                               disabled
                                               [(ngModel)]="vehicle.contactName">
                                    </div>
                                    <div class="form-group col-xs-6" style="padding-right:0px;">
                                        <label>Contact Phone</label>
                                        <input type="text"
                                               class="form-control"
                                               name="contactPhone"
                                               disabled
                                               [(ngModel)]="vehicle.contactPhone">
                                    </div>
                                    <div class="form-group">
                                        <label>Contact Email</label>
                                        <input type="text"
                                               class="form-control"
                                               name="contactEmail"
                                               disabled
                                               [(ngModel)]="vehicle.contactEmail">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div style="margin-left:10%;">
                                        <label>Is this vehicle registered?</label>
                                        <div>
                                            <div class="radio radio-inline" style="padding:0px;">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       [(ngModel)]="vehicle.isRegistered"
                                                       id="registered"
                                                       name="isRegistered"
                                                       disabled
                                                       [value]="true">
                                                <label class="form-check-label" for="registered" style="color:#999c;">YES</label>
                                            </div>
                                            <div class="radio radio-inline" style="padding:0px;">
                                                <input class="form-check-input"
                                                       type="radio"
                                                       [(ngModel)]="vehicle.isRegistered"
                                                       id="notRegistered"
                                                       name="isRegistered"
                                                       disabled
                                                       [value]="false">
                                                <label class="form-check-label" for="notRegistered" style="color:#999c;">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-left:10%;">
                                        <label>Features</label>
                                        <div class="checkbox form-check" *ngFor="let f of featuresList">
                                            <input class="form-check-input"
                                                   type="checkbox" value=""
                                                   disabled
                                                   id="feature_{{ f.id }}"
                                                   [checked]="isFeatureIncluded(f.id)">
                                            <label class="form-check-label" for="feature_{{ f.id }}" style="color:#999c;">
                                                {{ f.name }}
                                            </label>
                                        </div>
                                        <div *ngIf="!featuresList.length">
                                            <small style="color:#999c;">THERE ARE NO FEATURES</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form name="detailsForm">
                            <button type="button" class="btn btn-default btn-fill pull-right" [disabled]="pendingRequest" (click)="return()">Return</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
