<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">User Details</h4>
                        <p class="category">Vestibulum in luctus tortor, eu posuere metus.</p>
                    </div>
                    <div class="content">
                        <form name="userForm" #userForm="ngForm">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Role</label>
                                        <select class="form-control"
                                                [(ngModel)]="user.roleId"
                                                name="roleId"
                                                disabled>
                                            <option *ngFor="let r of rolesList" value="{{ r.id }}">{{ r.name.toUpperCase() }}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-xs-6" style="padding-left:0px;">
                                        <label>First Name</label>
                                        <input type="text"
                                               class="form-control"
                                               name="firstName"
                                               disabled
                                               [(ngModel)]="user.firstName">
                                    </div>
                                    <div class="form-group col-xs-6" style="padding-right:0px;">
                                        <label>Last Name</label>
                                        <input type="text"
                                               class="form-control"
                                               name="lastName"
                                               disabled
                                               [(ngModel)]="user.lastName">
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="text"
                                               class="form-control"
                                               name="email"
                                               disabled
                                               [(ngModel)]="user.email">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form name="detailsForm">
                            <button type="button" class="btn btn-default btn-fill pull-right" [disabled]="pendingRequest" (click)="return()">Return</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
