<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Change Password</h4>
                        <p class="category">Donec vel sem at eros semper fermentum.</p>
                    </div>
                    <div class="content">
                        <form name="passwordsForm" #passwordsForm="ngForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Current Password</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-lock"></span>
                                            </span>
                                            <input type="password"
                                                   class="form-control"
                                                   name="oldPassword"
                                                   #oldPassword="ngModel"
                                                   [(ngModel)]="credentials.oldPassword"
                                                   trim
                                                   notNullOrEmpty>
                                        </div>
                                        <small class="text-danger" *ngIf="oldPassword.invalid && (oldPassword.dirty || oldPassword.touched)">This field is required. </small>
                                    </div>
                                    <div class="form-group">
                                        <label>New Password</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-lock"></span>
                                            </span>
                                            <input type="password"
                                                   class="form-control"
                                                   name="newPassword"
                                                   #newPassword="ngModel"
                                                   [(ngModel)]="credentials.newPassword"
                                                   trim
                                                   notNullOrEmpty
                                                   minlength="8">
                                        </div>
                                        <small class="text-danger" *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">This field is required. </small>
                                        <small class="text-danger" *ngIf="newPassword.errors?.minlength">Passwords must be at least 8 characters long.</small>
                                    </div>
                                    <div class="form-group">
                                        <label>Confirm New Password</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-lock"></span>
                                            </span>
                                            <input type="password"
                                                   class="form-control"
                                                   name="confirmedPassword"
                                                   #confirmedPassword="ngModel"
                                                   [(ngModel)]="credentials.confirmedPassword"
                                                   [equalTo]="newPassword"
                                                   trim
                                                   notNullOrEmpty>
                                        </div>
                                        <small class="text-danger" *ngIf="confirmedPassword.invalid && (confirmedPassword.dirty || confirmedPassword.touched)">This field is required. </small>
                                        <small class="text-danger" *ngIf="confirmedPassword.errors?.equalTo">Passwords do not match.</small>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form name="saveForm" (ngSubmit)="submit($event)">
                            <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="pendingRequest">Accept</button>
                            <button type="button" class="btn btn-danger btn-fill pull-right" [disabled]="pendingRequest" (click)="cancel()" style="margin-right:3px;">Cancel</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
