<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Vehicle</h4>
                        <p class="category">Vestibulum in luctus tortor, eu posuere metus.</p>
                    </div>
                    <div class="content">
                        <form name="vehicleForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Make</label>
                                        <select class="form-control" name="makeSelect" (change)="onMakeChange()" [(ngModel)]="selectedMakeId">
                                            <option disabled selected value="0" style="font-style:italic;">select an option</option>
                                            <option *ngFor="let m of makesList" value="{{ m.id }}">{{ m.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Model</label>
                                        <select class="form-control" name="modelSelect" [(ngModel)]="selectedModelId">
                                            <option disabled selected value="0" style="font-style:italic;">select an option</option>
                                            <option *ngFor="let m of modelsList" value="{{ m.id }}">{{ m.name }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Features</label>
                                    <div class="checkbox form-check" *ngFor="let f of featuresList">
                                        <input class="form-check-input" type="checkbox" value="" id="feature_{{ f.id }}">
                                        <label class="form-check-label" for="feature_{{ f.id }}">
                                            {{ f.name }}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Is this vehicle registered?</label>
                                    <div>
                                        <div class="radio radio-inline" style="padding:0px;">
                                            <input class="form-check-input" type="radio" name="radioRegistered" id="registered" value="true">
                                            <label class="form-check-label" for="registered">YES</label>
                                        </div>
                                        <div class="radio radio-inline" style="padding:0px;">
                                            <input class="form-check-input" type="radio" name="radioRegistered" id="notRegistered" value="false">
                                            <label class="form-check-label" for="notRegistered">NO</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Contact</h4>
                        <p class="category">Etiam sodales ullamcorper eros.</p>
                    </div>
                    <div class="content">
                        <form name="contactForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contact Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contact Phone</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Contact Email</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <form name="saveForm">
                            <button type="submit" class="btn btn-info btn-fill pull-right">Save</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
